# pixi environments
.pixi/*
!.pixi/config.toml
.continue
.ipynb_checkpoints
.idea

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Python build and distribution
*.egg-info/
dist/
build/
*.egg

